body {
  background-color:#0b0c10;
  color:#f8f8f8;
 Cursor: default;
}

h1 {
  color:#66fcf1;
}

h2 {
    color: #45a29e;
}

main {
  padding: 40px; 
  padding-bottom: 100px
}

a {
  color: #66fcf1;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
    color: #45a29e;
}


.project-card {
  background: #1f2833;
  padding: 20px;
  margin: 20px 0;
  border-left: 4px solid #45a29e;
  box-shadow: 0 0 1px rgba(69, 162, 158, 0); 
  transition: box-shadow 0.3s ease-in-out; 
}

.project-card:hover {
  box-shadow:
  0 0 20px rgba(69, 162, 158, 1), 
  0 0 40px rgba(69, 162, 158, 0.7); 
}

#explore-section {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0 20px 0; 
    width: 300px;
    background-image: url('planet-bg.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: #1f2833; 
    border-radius: 20px; 
    z-index: 100;
    text-align: center;
    overflow: hidden; 
    cursor: default;
}

.alien { 
    position: absolute;
    width: 60px; 
    height: auto;
    top: -45px; 
    left: 50%; 
    transform: translateX(-50%); 
    animation: float 4s ease-in-out infinite;
    opacity: 0; 
    transition: opacity 0.4s ease-in-out; 
}

#explore-section:hover .alien {
    opacity: 1; 
}

.satellite-cursor { 
    position: fixed; 
    pointer-events: none; 
    width: 40px; 
    height: auto;
    opacity: 0; 
    transition: opacity 0.2s; 
    z-index: 9999; 
}

.stars-sparkle {
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 2px;
    height: 2px;
    background: white; 
    box-shadow: 
        10px 50px 0 0 #fff, -40px -10px 0 0 #fff, -10px -50px 0 0 #f0f0f0, 
        60px -70px 0 0 #fff, -70px 30px 0 0 #f0f0f0, 100px 10px 0 0 #fff, 
        -120px 40px 0 0 #f0f0f0, 15px 15px 0 0 #fff, -80px -20px 0 0 #f0f0f0; 
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#explore-section:hover .stars-sparkle {
    opacity: 1; 
}

@keyframes float {
    0% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -5px); }
    100% { transform: translate(-50%, 0); }
}
